* {
    margin: 0px;
    padding: 0px;
}
/* Header  */

.container {
    background-color: black;
    padding-bottom: 70px;
}
button{
    cursor: pointer;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
}

.username {

    width: 30%;
    font-size: 25px;
    color: white;
    font-weight: 1000;
    margin-left: 100px;
}

.navbar {
    width: 70%;
    color: white;
    margin-right: 100px;
    text-align: right;
    /* background-color: blue; */
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}

.navbar a {
    color: white;
    position: relative;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffbd39;
    ;
}

.navbar a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: #ffbd39;
    left: 0px;
    /* opacity: 0; */
    bottom: -7px;
    transition: width 1s;
}

.navbar a:hover::after {
    width: 100%
        /* opacity: 1; */
}

.active {

    color: #ffbd39;
}

.name {
    color: #ffbd39;
}

.name::before {
    content: " ";
    position: absolute;
    left: 100px;
    top: 33px;
    background-color: black;
    border-left:solid 2px #ffbd39; 
    height: 30px;
    width: 200px;
    animation: animate 4s steps(15) infinite;
   
}
.menu{
    padding:5px 6px;
    display: none;
}

@keyframes animate{
    40%,60%{
        left:277px;
    }
    0%{
        left:100px;
    }
} 

/* Home */
.Home{
    height: 500px;
    width:100%;
    /* padding: 20px; */
    
    display: flex;
}
.image img{
    height: 500px;
    width:400px;
    margin-left: 40px;
}
.intro{
    width:50%;
    height: 100%;
    padding: 50px;
    margin-left: 50px;
    box-sizing: border-box;
    /* background-color: yellow; */
}
.image{
    width:50%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    /* background-color: greenyellow; */
}
.Home h4,p{
    color:#ffbd39
}
.Home h4{
    font-size: 25px;
}
.Home span{
    color:white
}
.Home .emp_name{
    font-size: 80px;
    font-weight: 900;
}
.Home .prof{
    font-size: 40px;
    font-weight: bold;
    margin-top: 15px;
}
.Home .developer{
    font-size: 30px;
    margin-top: 20px;
}
.Home button{
    padding: 13px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    background-color:#ffbd39;
    /* color:#ffbd39; */
}
.Home div{
    margin-top: 20px;
}

/* About */
.about{

   margin-top: 100px;
    height: 650px;
    width:100%;
    display: flex;
}
.about .image{
    height: 120px;
    width:120px;
    margin-left: 50px;
    border-radius: 100%;
    background-image: url("../images/DSC_3921.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: solid #ffbd39 4px;
}
.about_cont1{
    padding: 30px;
    box-sizing: border-box;
    width:50%;
    height: 100%;
    /* background-color: red; */
}
.about_cont2{
    width:50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: blue; */
}
/* About */

.about img{
    height: 150px;
    width:150px;
    border-radius: 100%;
    margin-left: 50px;
    border: solid #ffbd39 4px;
}
.details{
    /* height: 300px; */
    width:100%;
    padding: 10px;
    color:rgba(225,225,255,0.5);
    /* background-color: green; */
    display: flex;
    font-size: 20px;
}
li{
    list-style-type: none;
    margin-bottom: 14px;
}
.details ul{
    margin-left: 50px;  
}
.skill{
    width:100%;
    height: 400px;
    margin-left: 50px;
    margin-top: 20px;
    color:rgba(225,225,255,0.5);
    /* background-color: green; */
}
.skill p {
    font-size: 20px;
}
.skill .c,.excel,.frontend,.backend,.react{
    height: 60px;
    margin-top: 10px;
    width:80%;
    /* background-color: red; */
}
.c div,.excel div,.frontend div,.backend div,.react div{
    height: 10px;
    width:100%;
    margin-top: 10px;
    background-color:grey;
}
.c div p,.excel div p,.frontend div p,.backend div p,.react div p{
    height: 100%;
    width:90%;
    background-color: yellow;
}
.about_me{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 40px;
    color:white
}
.about_cont2 div p{
    
    color:rgba(225,225,255,0.5);
    font-size: 20px;
}
.about_cont2 ul{
    margin-top: 40px;
    font-size: 20px;
    color:rgba(225,225,255,0.5);
}
.about_cont2 li span{
    font-weight: bolder;
    color:white;
}
.about_cont2 button{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #ffbd39;
    border: none;
    margin-top: 30px;
    margin-right: 20px;
    font-weight: 600;
}

/* Resume */
.resume .resume1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 900;
    color:white;
    margin-bottom: 20px;
}
.resume .resume2{
    text-align: center;
    font-size: 20px;
    color:rgba(225,225,255,0.5);
}
.resume hr{
    width:85%;
    margin: auto;
}
.resume .exp{
    width:60%;
    padding: 40px;
    /* height:300px; */
    background-color: rgba(128, 128, 128, 0.2);
    margin: auto;
    margin-top: 50px;
    
}
.resume .year{
    font-size: 35px;
    font-weight: 900;
    color:#ffbd39;
    margin-top: 0px;
}
.resume .post{
    font-size: 30px;
    color:white;
    font-weight: 500;
    margin-top: 15px;
}
.resume .location{
    font-size: 22px;
    margin-top: 15px;
    color:rgba(225,225,255,0.5);
}
.resume li{
    list-style-type: disc;
    font-size: 18px;
    color:rgba(225,225,255,0.5);

}

/* Education */
.edu h1{
    font-size: 50px;
    font-weight: 900;
    color:white;
    text-align: center;
    margin-top: 50px;
}
.edu hr{
    width:80%;
    margin: auto;
    margin-top: 20px;
}
.qualification {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    /* height: 500px; */
    width:100%;
    margin-top: 20px;
    /* background-color: red; */
    padding: 40px 100px;
    box-sizing: border-box;
    color:rgba(225,225,255,0.5);
}
.qualification div{
    width:40%;
    /* height: 250px; */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    background-color: rgba(128, 128, 128, 0.2);
    transition: transform 5s ease-in-out;
    /* background-color: aqua; */
}
.qualification li{
    list-style-type: none;
    margin-left: 30px;
}
.qualification div:hover{
    transform: scale(1.5);
}
.qualification li:first-child{
    font-size: 40px;
    font-weight: bold;
    color:#ffbd39
}
.qualification li:nth-child(2){
    font-size: 25px;
    color:white;
}
.qualification li:nth-child(3){
    letter-spacing: 5px;
    font-size: 20px;
}
.cv button{
    padding:  20px 30px;
    border-radius: 30px;
    font-size: 20px;
   
    background-color: #ffbd39;
    border: none;
}
.cv{
    text-align: center;
}

/* Projects */
.project{
    /* height: 700px; */
    width:100%;
    /* background-color: red; */
    margin-top: 50px;
    padding-top: 30px;
}
.project h1 ,.contact h1{
    font-size: 50px;
    font-weight: bold;
    color:#ffbd39;
    text-align: center;
}
.project p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color:rgba(225,225,255,0.5);
}
.project_list,.contact_me{
    display: flex;
    flex-wrap: wrap;
    /* height: 400px; */
    width:90%;
    margin: auto;
    margin-top: 100px;
    justify-content: space-evenly;
}
.project_list div{
    width:30%;
    margin-bottom: 30px;
    /* height: 200px; */
    text-align: left;
    overflow: hidden;
    /* border:solid red 5px; */
}
.project_list img{
    width:100%;
    height: 200px;
    transition: transform 5s;
}
.project_list img:hover{
    transform: scale(1.5);
}
.project_list h1{
    color:white;
    font-size: 30px;
    margin-top: 10px;
}
/* contact */
.contact{
    /* height: 300px; */
    width:100%;
    /* background-color: red; */
    padding-top: 100px;
    /* margin-top: 300px; */
}
.contact_me div{
    height: 200px;
    width:20%;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;
    /* background-color: red; */
}

.contact_me i{
    color: #ffbd39;
    font-size: 50px;
}
.contact_me div h1{
    color:white;
    font-size: 25px;
    margin-top: 15px;
}
.contact_me div p{
    color:white;
    font-size: 18px;
    margin-top: 10px;
}
.contact_me button{
    border-radius: 100%;
    padding: 20px 30px;
    background-color: rgba(128, 128, 128, 0.2) ;
    border: none;
}
.contact_me a{
    color:white;
    text-decoration: none;
}
.footer{
    width:100%;
    padding: 30px 0px;
    /* background-color: red; */
    text-align: center;
    color:rgba(225,225,255,0.5);
    font-size: 20px;
    margin-top: 20px;
    /* margin: 50px 0px; */
}
.query{
    height:100px;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin:50px 0px;
    /* background-color: red; */
}
.query div:first-child{
    width:50%;
    color:white;
    text-align: right;
    font-size: 40px;
    font-weight: 900;
    

}
.query div:last-child{
    width:50%;
}
.query div:last-child button{
    padding: 20px 50px;
    margin-left: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #ffbd39;
    border: none;
}



   